<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Wrong</title> 
        <style>
             body{
                margin: 0px;
            }
            header{
                text-align: center;
                padding: 10px;
                font-size: 20px;
                background-color: cadetblue;
            }
        </style>
    </head>
    <body>
        <header>
            失敗頁面
        </header>
        <div style="text-align: center;">{{data}}</div>
    </body>
</html>